<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>An Hero<%= ' - ' + current_article.title unless current_article.nil? %></title>

    <%= stylesheet_link_tag 'normalize', 'syntax', 'layout' %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: 'Atom Feed' %>
  </head>
  <body class="<%= current_page.data.body_class %>">
    
    <div id="main" role="main">
      <%= partial 'partials/masthead' %> 

      <%= yield %>
    </div>
  </body>
</html>
